<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/save-product" method="POST">
        <P>
            <label>Title</label>
            <input type="text" name="title"/>
        </P>
        <p>
            <label>Price</label>
            <input type="number" name="price"/>
        </p>
        <p>
            <label>
                Description
            </label>
            <textarea name="description"></textarea>
        </p>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>