<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
</head>
<body>
    <div id="res">
        <h3>List of Items</h3>
    <form action="/product" method="post">
        <p>Name: <input name="name"></p>
        <p>Quantity: <input name="quantity"></p>
        <p>Price: <input name="price"></p>
        <button>Add Item</button>

    </form>
</div>
</body>
</html>