body{
    background-color: rgb(174, 240, 240);
    
}
h1{
    text-align:center;
    text-decoration: underline;
    font-style: italic;   
}
h2{
    color:cadetblue;
    font-weight: bold;
}
li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    font-family:'Times New Roman';
}
p::first-letter{
    font-size: 1.5em;
}
/* Normal link style*/
a{
    text-decoration: none;
}
/* Normal link style when hovered*/
a:hover{
    color:blue;
    text-decoration: underline;
}
ul ul{
    color: yellow;
    font-weight: bold;
}
.reversedList{
    display : flex;
    flex-direction: column-reverse;
}
